.header{
    display: flex;
    background-image: url(../images/fond_clair.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 20px;
    width: 90%;
    height: 7rem;
    margin: 1rem auto;
    align-items: end;
}

.dropdown{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  width: 80%;
  height: 4rem;
  border: solid green 2px;
  border-radius: 10px;
}

.dropbtn{
  display: none;
  background-color: green;
  width: 10%;
  height: 3rem;
  font-size: 2rem;
  color: white;
}

.dropdown__content {
  display: flex;
  flex-direction: row;
  background-color: green;
  transition: all 0.9s ease;
  }
  
// .dropdown__content__links{
//   border: solid gray 2px;
//   border-radius: 5px;
// }